<?xml version="1.0"?>
<!--
/**
 * Copyright © Soft Commerce Ltd. All rights reserved.
 * See LICENSE.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="SoftCommerce_Core::softcommerce_core">
                    <resource id="SoftCommerce_SeoSuite::base" title="SoftCommerce SEO Suite" translate="title" sortOrder="999">
                        <resource id="SoftCommerce_SeoSuite::url_relationship_manage" title="Manage URL Relationship" translate="title" sortOrder="1"/>
                    </resource>
                </resource>
                <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Magento_Config::config">
                            <resource id="SoftCommerce_SeoSuite::seosuite_conf" title="SeoSuite Config [softcommerce]"/></resource>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
