<?xml version="1.0"?>
<!--
/**
 * Copyright © Soft Commerce Ltd. All rights reserved.
 * See LICENSE.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <softcommerce_seosuite>
            <hreflang>
                <is_active>0</is_active>
                <inc_reg_code>0</inc_reg_code>
                <is_active_x_default>0</is_active_x_default>
                <x_default_store>0</x_default_store>
            </hreflang>
            <canonical>
                <is_active>0</is_active>
            </canonical>
        </softcommerce_seosuite>
    </default>
</config>
