<?xml version="1.0"?>
<!--
/**
 * Copyright © Soft Commerce Ltd. All rights reserved.
 * See LICENSE.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="SoftCommerce\SeoSuite\Model\ConfigInterface" type="SoftCommerce\SeoSuite\Model\Config"/>
    <preference for="SoftCommerce\SeoSuite\Model\GetCanonicalUrlInterface" type="SoftCommerce\SeoSuite\Model\GetCanonicalUrl"/>
    <type name="SoftCommerce\SeoSuite\Model\Config">
        <arguments>
            <argument name="entityTypeIds" xsi:type="array">
                <item name="category" xsi:type="object">SoftCommerce\SeoSuite\Model\EntityTypeId\Category</item>
                <item name="product" xsi:type="object">SoftCommerce\SeoSuite\Model\EntityTypeId\Product</item>
                <item name="cms_page" xsi:type="object">SoftCommerce\SeoSuite\Model\EntityTypeId\CmsPage</item>
            </argument>
        </arguments>
    </type>
</config>
